/* h1{
text-align: center;
color: chocolate;
background-color: aqua;

} */
/* p{
font-size: 15px;
font-weight: 600; */

}
span{
      color: darkorange;
      font-weight: 900;
}
h2{
      text-align: center;
      color: chartreuse;
}
h3{
      color: darkmagenta;
}
#main-header{
color: beige; 

text-align: center;
background-color: brown;
width: 50%;
height: 40px;
margin-left: 25%;
}
#para1{
color: aqua;
background-color: black;
font-size: small;
font-weight: 700;
text-align: justify;
margin-left: 30px;
margin-right: 30px;
padding:20px;
border-color: cyan;
border-radius: 10px;
}

